<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<div class="container">
    <div>
        <br/>
        <form th:action="@{/registration}" method="POST" enctype="utf8">
            <div class="form-group row">
                <label class="col-sm-3">Name</label>
                <span class="col-sm-5"><input class="form-control" name="fullName" required="required"/></span>
                <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" >Username</label>
                <span class="col-sm-5"><input class="form-control" name="username" value="" required="required"/></span>
                <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

            </div>
            <div class="form-group row">
                <label class="col-sm-3">Password</label>
                <span class="col-sm-5"><input id="password" class="form-control" name="password" value=""
                                              type="password" required="required"/></span>
                <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">email</label>
                <span class="col-sm-5"><input type="email" class="form-control" name="email" value=""
                                              required="required"/></span>
                <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>

            </div>
            <div class="form-group row">
                <label class="col-sm-3" >Address</label>
                <span class="col-sm-5"><input id="address" class="form-control" name="address" value="" required="required"/></span>
                <span id="addressrError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" >Age</label>
                <span class="col-sm-5"><input id="age" class="form-control" name="age" value="" required="required"/></span>
                <span id="ageError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div><div class="form-group row">
            <label class="col-sm-3" >NumberPhone</label>
            <span class="col-sm-5"><input id="numberPhone" class="form-control" name="numberPhone" value="" required="required"/></span>
            <span id="numberPhoneError" class="alert alert-danger col-sm-4" style="display:none"></span>
        </div>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/>
        <a th:href="@{/login}" >Login</a>
        <br/>
        <a th:href="@{/verifyError?message=}" >Resend the Verification Link</a>
    </div>
</div>
</body>
</html>