<html>
<body>
<div id="errormsg" style="display:none"></div>
<div>
    <input id="oldPassword" name="oldPassword" type="password" />
    <input id="password" name="password" type="password" />
    <input id="passConfirm" name="passConfirm" type="password" />
    <span id="error" style="display:none">Password mismatch</span>

    <button type="submit" onclick="savePass()">Change Password</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
    function savePass(){
        // var pass = $("#pass").val();
        // var valid = pass == $("#passConfirm").val();
        // if(!valid) {
        //     $("#error").show();
        //     return;
        // }
        $.post( "[[@{/}]]updatePassword",{password: pass, oldpassword: $("#oldpass").val()} ,function(data){
            window.location.href ="/?message="+data.message;
        })
            .fail(function(data) {
                $("#errormsg").show().html(data.responseJSON.message);
            });
    }
</script>
</body>
</html>
